html {
    color: rgb(32, 170, 136);
}

html {
    background: beige;
}

h1 {
    color: rgb(143, 26, 158);
}

h2 {
    color: rgb(107, 59, 59);
}

h3 {
    color: black;
}

html {
    font-family:sans-serif ;
}

html {
    font-stretch: extra-expanded;
}